
html, body {height: 100%;}

@media only screen and (max-width: 767px) {
    * {
        color: rgb(0,0,139);
    }
    
    .logo {
        width: 18px;
        height: 18px;
        padding: 0.1em 0.3em;
    }
    
    ul {
        list-style-type: none;
    }
    
    .nav_links {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(173,216, 230);
        height: 1.4em;
    }
      
    .nav_list {
        float: right;
    }
    
    
    .nav_list a {
        display: block;
        font-weight: 500;
        font-size: 0.55em;
        text-align: center;
        padding: 0.7em 0.3em;
        text-decoration: none;
    }
      
    .nav_links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav_links li a:hover{
        color: orange;
    }
    
    .bodyContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .buttonContainer {
        padding-top: 10px;
        height: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logIn a{
        text-decoration: none;
    }

    .b1 {
        background-color: #FF1100;
        color: white;
        border: none;
        font-size: 0.7em;
        text-align: center;
        padding: 10px 10px;
        width: 15em;
    }
    
    .b2 {
        background-color:#8acc25;
        color: white;
        border: none;
        font-size: 0.7em;
        padding: 10px 20px;
        width: 15em;
        
    }
    
    .b3 {
        background-color: #3299CC;
        color: white;
        border: none;
        font-size: 0.7em;
        padding: 10px 10px;
        width: 15em;
    }
    
    
    .gladImg2 {
        padding: 30px;
        width: 70%;
        height: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .speechIsPower {
        width: 80%;
        height: 300px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bContainer {
        font-size: 0.7em;
    }

    .pContainer {
        padding: 1%;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        height: 130px;
    }

    .box2 {
        width: 300px;
        height: 200px;
        text-align: center;
    }

    .box11 {
        text-align: center;
        width: 270px;
    }

    .pContainer2 {
        padding-left: 1%;
        display: flex;
        flex-direction: column;
    }

    .box3 {
        padding-left: 2%;
        padding-right: 2%;
    }

    .box4 {
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .box9 {
        padding-left: 2%;
        padding-right: 2%;
    }

    .gladImg{
        width: 80%;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bContainer2 {
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .gImg3 {
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .rContainer {
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
    }

    .box6 {
        text-align: center;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .box7 {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .box8 {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .box10 {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.7em;
    }

    
    .logInSubscribe {
        padding-top: 10px;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logSub {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 118px;
        font-size: smaller;
    }

    .b4 {
        background-color: #ED9121;
        color: white;
        border: none;
        font-size: 0.7em;
        text-align: center;
        padding: 10px 10px;
        width: 15em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .b5 {
        background-color: #ED9121;
        color: white;
        border: none;
        font-size: 0.7em;
        text-align: center;
        padding: 10px 10px;
        width: 15em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



@media only screen and (max-width: 768px) {
    * { 
        color: rgb(0,0,139);
    }
}





@media only screen and (min-width: 1025px) {
    
    @font-face{
        font-family: 'inkfree';
        src: url('fonts/InkFree.ttf');
    }
    
    * {
        color: rgb(0,0,139);
        font-family: 'inkfree';
    }
    
    .logo {
        width: 50px;
        height: 50px;
        padding: 0.5em 0.5em;
    }
    
    ul {
        list-style-type: none;
    }
    
    .nav_links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(173,216, 230);
        height: 4em;
    }
      
    .nav_list {
        float: right;
    }
    
    
    .nav_list a {
        display: block;
        font-weight: 500;
        font-size: 1.25em;
        text-align: center;
        padding: 1em 1em;
        text-decoration: none;
    }
      
    .nav_links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav_links li a:hover{
        color: orange;
    }
    
    .bodyContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .buttonContainer {
        padding-top: 10px;
        height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .bContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .bContainer2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .pContainer {
        padding-left: 1%;
        padding-top: 1%;
        justify-content: space-around;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .pContainer2 {
        padding-left: 1%;
        display: flex;
        flex-direction: column;
    }
    
    .rContainer {
        display: flex;
        flex-direction: column;
    }
    
    .leftB {
        padding-left: 4%;
    }
    
    .gladImg {
        padding-right: 15%;
    }

    
    .spTypes {
        margin: none;
    }
    
    .logIn a {
        text-decoration: none;
    }

    .b1 {
        background-color: #FF1100;
        color: white;
        border: none;
        font-size: 1em;
        text-align: center;
        padding: 10px 25px;
        width: 11em;
    }
    
    .b2 {
        background-color:#8acc25;
        color: white;
        border: none;
        font-size: 1em;
        padding: 10px 25px;
        width: 11em;
        
    }
    
    .b3 {
        background-color: #3299CC;
        color: white;
        border: none;
        font-size: 1em;
        padding: 10px 25px;
        width: 11em;
    }
    
    .speechIsPower {
        width: 300px;
        height: 300px;
        text-align: center;
    }
    
    .box2 {
        width: 300px;
        height: 200px;
        text-align: center;
    }
    
    .box3 {
        width: 600px;
        height: 275x;
    }
    
    .box4 {
        width: 650px;
        height: 200px;
    }
    
    .textBox5 {
        width: 60%;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .box6 {
        text-align: center;
        width: 700px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .box7 {
        padding-left: 2%;
        width: 500px;
        height: 120px;
    }
    
    .box8 {
        padding-left: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
    .box9 {
        width: 700px;
    }
    
    .box10 {
        text-align: center;
    }
    
    .box11 {
        text-align: center;
        width: 270px;
    }

    .logInSubscribe {
        padding-top: 10px;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logSub {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 141px;
    }

    .b4 {
        background-color: #ED9121;
        color: white;
        border: none;
        font-size: 1em;
        text-align: center;
        padding: 10px 10px;
        width: 15em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .b5 {
        background-color: #ED9121;
        color: white;
        border: none;
        font-size: 1em;
        text-align: center;
        padding: 10px 10px;
        width: 15em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    
}