
html, body {height: 100%;}


@font-face {
    font-family: 'Ink Free';
    src: url('InkFree.woff2') format('woff2'),
        url('InkFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    color: black;
    font-family: 'Ink Free';
}


@media only screen and (max-width: 767px) {

    
    .logo {
        width: 18px;
        height: 18px;
        padding: 0.1em 0.3em;
    }
    
    ul {
        list-style-type: none;
    }
    
    .nav_links {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(173,216, 230);
        height: 1.4em;
    }
      
    .nav_list {
        float: right;
    }
    
    
    .nav_list a {
        display: block;
        font-weight: 500;
        font-size: 0.55em;
        text-align: center;
        padding: 0.7em 0.3em;
        text-decoration: none;
    }
      
    .nav_links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav_links li a:hover{
        color: orange;
    }
    
    .bodyContainer {
        display: flex;      
        flex-direction: column;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .buttonContainer {
        padding-top: 10px;
        height: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logIn a{
        text-decoration: none;
    }

    .buttonHolder {
        display: flex;
        flex-direction: column;
    }

    .b1 {
        background-color: #FF1100;
        color: white;
        border: none;
        font-size: 0.7em;
        text-align: center;
        padding: 10px 10px;
        width: 15em;
    }
    
    .b2 {
        background-color:#8acc25;
        color: white;
        border: none;
        font-size: 0.7em;
        padding: 10px 20px;
        width: 15em;
    }
    
    .b3 {
        background-color: #3299CC;
        color: white;
        border: none;
        font-size: 0.7em;
        padding: 10px 10px;
        width: 15em;
    }
    
    
    .gladImg2 {
        padding: 30px;
        width: 70%;
        height: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .speechIsPower {
        width: 80%;
        height: 300px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .leftB {
        padding-top: 0px;
    }

    .bContainer {
        font-size: 0.7em;
    }

    .pContainer {
        padding-right: 3%;
        padding-left: 3%;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        height: 130px;
    }

    .box2 {
        width: 300px;
        height: 200px;
        text-align: center;
        padding-right: 1%;
    }

    .box11 {
        text-align: center;
        width: 270px;
        padding-left: 1%;
    }

    .pContainer2 {
        padding-left: 1%;
        display: flex;
        flex-direction: column;
    }

    .box3 {
        padding-left: 2%;
        padding-right: 2%;
    }

    .box4 {
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .box9 {
        padding-left: 2%;
        padding-right: 2%;
    }

    .gladImg{
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bContainer2 {
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .gImg3 {
        width: 200px;
        display: block;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .rContainer {
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
    }

    .box6 {
        text-align: center;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .box7 {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .box8 {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .box10 {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.7em;
    }

    
    .logInSubscribe {
        padding-top: 10px;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    
    .logSub {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 118px;
        font-size: smaller;
    }

    .b4 {
        background-color: #ED9121;
        color: white;
        border: none;
        font-size: 0.7em;
        text-align: center;
        padding: 10px 10px;
        width: 15em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .topContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .topContainer h2 {
        font-size: 1.1em;
        color: orangered;
        padding-left: 33%;
    }

    .topContainer div {
        padding-top: 4%;
        padding-left: 10%;
    }
    
    .topContainer div a{
        font-size: 0.7em;
    }

    .asAHost {
        display: flex;
        justify-content: center;
        font-size: 0.75em;
    }

    
    .sessionInfo {
        display: flex;
        flex-direction: column;
    }

    .sessionInfo h3 {
        color: orangered;
        width: 100px;
        font-size: 1em;
    }

    .sessionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .sessionInfoButtons {
        padding-top: 0.5%;
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
    }

    .sessionInfoButtons button {
        background-color: rgb(226, 119, 48);
        color: white;
        font-size: 0.75em;
        height: 2em;
        border: none;
        border-radius: 50px;
    }

    /*---------------------------MAXIMUS SESSION PAGE STYLING-----------------------------*/

    
    .maxBodyContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .spotCont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .spotCont h4 {
        color: #cc4625;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    
    .spotCont h4:first-child {
        margin-bottom: 0;
    }

    .spotCont h4:last-child {
        margin-top: 0;
    }

    .aBCont {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .rolesA {
        background-color: #ff5100d0;
        color: white;
        border: none;
        font-size: 0.5em;
        text-align: center;
        padding: 5px 5px;
        height: 3.3em;
        width: 12em;
        border: 1px solid black;
    }

    .rolesA:first-child, .rolesB:first-child {
        margin-right: 10px;
    }

    .rolesA:nth-child(2), .rolesB:nth-child(2) {
        margin-left: 10px
    }

    .rolesA:hover {
        border-color: whitesmoke;
    }

    .rolesB {
        background-color: #ffb300;
        color: white;
        border: none;
        font-size: 0.5em;
        text-align: center;
        padding: 5px 5px;
        height: 3.3em;
        width: 12em;
        border: 1px solid black;
    }

    .rolesB:hover {
        border-color: whitesmoke;
    }

    .partCont {
        display: flex;
        justify-content: center;
    }

    .partCont p{
        color: #cc4625;
        font-size: 10px;
    }

    .img7 {
        width: 60%;
        padding-top: 10%;
        padding-left: 20%;
    }

    .skillContainer {
        padding-left: 10%;
        width: 80%;
    }

    .mostImportantSkill {
        padding-top: 10%;
        font-size: 9.7px;
        text-align: center;
    }

    
    /*------------------------SESSION PAGE STYLING-------------------------------*/


    .flexContainer {
        display: flex;
        flex-direction: column-reverse;
    }
  
    .rightBox {
        padding-top: 10%;
    }

    .leftBox {
        padding-left: 20%;
    }

    .leftBox img {
        width: 60%;
    }

    .flex1 {
        margin-left: 10%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .flex1:last-child {
        width: 100px;
    }


    .flex1 h3 {
        color: #ff7300;
        font-size: 14px;
    }


    .buttonGladius {
        width: 190px;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 7px 14px;
        font-size: 12px;
        cursor: pointer;
        border-color: #2196F3;
        color: dodgerblue;
        border-radius: 25px;
        margin-right: 10px;
    }


    .buttonGladius:hover {
        background: #2196F3;
        color: white;
    }

    .buttonGladius2 {
        width: 280px;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 7px 14px;
        font-size: 12px;
        cursor: pointer;
        border-color: #2196F3;
        color: dodgerblue;
        border-radius: 25px;
    }

    .buttonGladius2:hover {
        background: #2196F3;
        color: white;
    }

    
    .createS {
        background-color: #ffb300;
        color: white;
        border: none;
        font-size: 0.6em;
        padding: 7px 10px;
        height: 3em;
        width: 190px;
        border: 1px solid black;
    }
  
    .createS:hover {
        border-color: white;
    }                                           


    .flex2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex2 h4 {
        font-weight: 400;
    }
    
    .flex2 p:last-child {
        padding-top: 10px;
    }

    .flex2 div p, .flex2 p {
        color: #ff7300 ;
    }

    .flex2 div p:first-child {
        margin-bottom: 0;
    }

    .flex2 div p:nth-child(2) {
        margin-top: 0;
    }

    /*------------------------ROLE PAGE STYLING-------------------------------*/

    
    .pageSessContainer {
        display: flex;
        flex-direction: column;
    }

    .gridContainer {
        display: grid;
        /*grid-template-columns: auto auto auto auto auto;*/
        grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
        grid-template-rows: 48px 48px 48px 48px 48px ;
        grid-column-gap: 10px;
        grid-row-gap: 60px;
    }

    .item2 img, .item5 img, .item7 img, .item9 img, .item11 img, .item14 img  {
        width: 100px;
    }

    .pickRole2 {
        display: flex;
        justify-content: center;
    }

    .pickRole2 h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .leftContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    
    .leftContainer h3 {
        color: #cc4625;
        font-size: 14px;
    }

    .leftContainer h3:first-child {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .leftContainer h3:nth-child(2) {
        padding-bottom: 0;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .leftContainer h3:nth-child(3) {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
}



@media only screen and (min-width: 768px) {
    
    body {
        background-color: #21f3f363;
        margin: 0px; 
    }

    @font-face {
        font-family: inkfree;
        src: url('Inkfree.ttf');
    }
    
    .logo {
        width: 4em;
        height: 4em;
        padding: 0.2em 0.5em;
    }
    
    ul {
        list-style-type: none;
    }
    
    .nav_links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*background-color: rgb(173,216, 230);
        */
        height: 4.5em;
        background-color: rgba(133, 37, 211, 0.15);
    }
      
    .nav_list {
        float: right;
    }
    
    nav {
        margin-top: 0;
    }
    
    .nav_list a {
        display: block;
        font-weight: 900;
        font-size: 1.2em;
        text-align: center;
        padding: 1.3em 1.5em;
        text-decoration: none;
    }
      
    .nav_links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav_links li a:hover{
        color: orange;
        transform: scale(1.05);
    }
    

    
    .title {
        margin-top: 15px;
        font-size: 50px;
        color: white;
        overflow: hidden; 
        border-right: .15em solid orange;
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }

    .title:hover {
        color: rgb(241, 171, 39);
        transition-duration: 2s;
    }
    
  
    @keyframes typing {
        from { width: 0 }
        to { width: 60% }
    }

    
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgba(255, 166, 0, 0.952) }
    }
    
    
    .bodyContainer {
        position: absolute;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        animation-name: background-transition;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        /*----*/
        /*background-image: linear-gradient(to right, rgb(96, 110, 240), rgb(150, 184, 219));
        */
    }
    
    @keyframes background-transition{
        0% {background-color:rgb(59, 188, 240);}
        25% {background-color: rgb(178, 136, 202);}
        50% {background-color:rgb(59, 188, 240);}
        75% {background-color: rgb(178, 136, 202);}
        100% {background-color:rgb(59, 188, 240);}
    }

    .buttonContainer {
        padding-top: 85px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .buttonContainer3 {
        padding-top: 80px;
        height: 380px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .bContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .bContainer2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .pContainer {
        padding-top: 1%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .pContainer2 {
        font-size: 12px;
        padding-left: 1%;
        display: flex;
        flex-direction: column;
    }
    
    .rContainer {
        display: flex;
        flex-direction: column;
    }
    
    
    .gladImg {
        width: 500px;
    }

    .spTypes {
        margin: none;
    }
    
    .logIn a {
        text-decoration: none;
    }

    .buttonHolder {
        padding-top: 25px;
        display: flex;
        height: 400px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logSubButton {
        color: white;
        position: relative;
        background-color: rgba(255, 35, 0, 0.767);
        font-size: 1.25em;
        font-weight: 600;
        height: 3.5em;
        width: 14em;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 50px;
    }

    .logSubButton:hover {
        background-color: white;
        color:  rgba(255, 35, 0, 0.767);
        transform: scale(1.05);
    }

    .b11 {
        padding-top: 20px;
    }
    

    .b1 {
        background-color: #ff8800;
        z-index: 2;
        color: white;
        border: none;
        font-size: 1.25em;
        font-weight: 800;
        text-align: center;
        border-radius: 40px;
        width: 20em;
        height: 3.5em;
        border: 3px solid rgba(0, 0, 0, 0);
    }
    

    .b2 {
        background-color:#255fcc;
        z-index: 2;
        color: white;
        font-weight: 800;
        border: none;
        font-size: 1.25em;
        padding: 10px 15px;
        height: 3.5em;
        width: 14em;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 40px;
    }

    .b3 {
        background-color: #255fcc; /*#3299CC;*/
        z-index: 2;
        color: white;
        font-weight: 800;
        border: none;
        font-size: 1.25em;
        padding: 10px 15px;
        height: 3.5em;
        width: 14em;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 40px;
    }

    .b1:hover, .b2:hover, .b3:hover {
        border-color: whitesmoke;
        transform: scale(1.05)
    }
    
    .speechIsPower {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 220px;
        padding: 0 20px;
        text-align: center;
        background-color: rgb(90, 233, 233);
        border-radius: 30px;
        border: 3px solid whitesmoke;
    }


    .speechIsPower h4, .speechIsPower p {
        font-weight: 600;
        font-size: larger;
    }

    .bodyContainer2 {
        background-color: rgb(52, 150, 192); 
        width: 100%;
        margin-top: 700px;
        display: flex;
        flex-direction: column;
        animation-name: background-transition2;
        animation-duration: 30s;
        animation-iteration-count: infinite;
    }

    @keyframes background-transition2{
        0% {background-color:rgb(164, 170, 230);}
        25% {background-color: rgb(59, 188, 240);}
        50% {background-color:rgb(164, 170, 230);}
        75% {background-color: rgb(59, 188, 240);}
        100% {background-color:rgb(164, 170, 230);}
    }

    .floatingWordsContainer {
        width: 100%;
        height: 60%;
    }

    .an1, .an2, .an3, .an4, .an5, .an6, .an7, .an8{
        font-size: 1.4em;
        z-index: 1;
        color: white;
    }

    
    .an1 { /*make invisible until the words start to move*/
        position: relative;
        animation-name: floatingWords;
        animation-duration: 80s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }

    .an2 {
        position: relative;
        animation-name: floatingWords2;
        animation-duration: 80s;
        animation-delay: 0.3s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }

    .an3{ 
	    position: relative;
 	    animation-name: floatingWords3;
        animation-duration: 80s;
        animation-delay: 0.5s;
        animation-direction: reverse;
        animation-iteration-count: infinite;
    }

    .an4{ 
	    position: relative;
 	    animation-name: floatingWords4;
        animation-duration: 80s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }


    .an5{ 
	    position: relative;
 	    animation-name: floatingWords5;
        animation-duration: 80s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }


    .an6{ 
	    position: relative;
 	    animation-name: floatingWords6;
        animation-duration: 100s;
        animation-direction: reverse;
        animation-iteration-count: infinite;
    }

    .an7{ 
	    position: relative;
 	    animation-name: floatingWords7;
        animation-duration: 80s;
        animation-iteration-count: infinite;
    }

    .an8{ 
	    position: relative;
 	    animation-name: floatingWords8;
        animation-duration: 80s;
        animation-direction: reverse;
        animation-iteration-count: infinite;
    }

    @keyframes floatingWords {
        0%   {left:20%; top:100px;}
        10%  {left:50%; top:982;}
        20%  {left:10%; top:123;}
        30%  {left:46%; top:63px;}
        40%  {left:73%; top:12px;}
        50%  {left:21%; top:250px;}
        60%  {left:65%; top:150px;}
        70%  {left:40%; top:12px;}
        80%  {left:22%; top:127px;}
        90%  {left:33%; top:90px;}
        100% {left:10%; top:10px;}
    }
    

    @keyframes floatingWords2 {
        0%   {left:0%; top:16px;}
        10%  {left:70%; top:98px;}
        20%  {left:10%; top:123px;}
        30%  {left:59%; top:302px;}
        40%  {left:80%; top:102px;}
        50%  {left:20%; top:80px;}
        60%  {left:22%; top:180px;}
        70%  {left:40%; top:190px;}
        80%  {left:10%; top:120px;}
        90%  {left:70%; top:29px;}
        100% {left:15%; top:90px;}
    }


    @keyframes floatingWords3 {
        0%   {left:15%; top:10px;}
        10%  {left:73%; top:98px;}
        20%  {left:13%; top:13px;}
        30%  {left:60%; top:263px;}
        40%  {left:2%; top:112px;}
        50%  {left:20%; top:50px;}
        60%  {left:62%; top:69px;}
        70%  {left:40%; top:40px;}
        80%  {left:22%; top:1px;}
        90%  {left:59%; top:300px;}
        100% {left:70%; top:68px;}
    }

    @keyframes floatingWords4 {
        0%   {left:10%; top:150px;}
        10%  {left:25%; top:360px;}
        20%  {left:65%; top:209px;}
        30%  {left:14%; top:303px;}
        40%  {left:50%; top:96px; }
        50%  {left:75%; top:290px;}
        60%  {left:8%; top:70px;}
        70%  {left:45%; top:15px;}
        80%  {left:51%; top:60px;}
        90%  {left:69%; top:1px;}
        100% {left:79%; top:100px;}
    }

    @keyframes floatingWords5 {
        0%   {left:10%; top:200px;}
        10%  {left:25%; top:77px;}
        20%  {left:77%; top:14px;}
        30%  {left:60%; top:304px;}
        40%  {left:80%; top:190px;}
        50%  {left:92%; top:70px;}
        60%  {left:69%; top:190px;}
        70%  {left:50%; top:90px;}
        80%  {left:39%; top:7px;}
        90%  {left:79%; top:109px;}
        100% {left:90%; top:200px;}
    }

    @keyframes floatingWords6 {
        0%   {left:40%; top:0px;}
        10%  {left:35%; top:9px;}
        20%  {left:10%; top:404px;}
        30%  {left:76%; top:14px;}
        40%  {left:90%; top:208px;}
        50%  {left:23%; top:0px;}
        60%  {left:61%; top:90px;}
        70%  {left:3%; top:29px;}
        80%  {left:24%; top:230px;}
        90%  {left:77%; top:400px;}
        100% {left:34%; top:70px;}
    }

    @keyframes floatingWords7 {
        0%   {left:87%; top:199px;}
        10%  {left:93%; top:90px;}
        20%  {left:60%; top:304px;}
        30%  {left:55%; top:430px;}
        40%  {left:34%; top:10px;}
        50%  {left:79%; top:0px;}
        60%  {left:12%; top:400px;}
        70%  {left:35%; top:290px;}
        80%  {left:86%; top:230px;}
        90%  {left:47%; top:400px;}
        100% {left:13%; top:70px;}
    }


    @keyframes floatingWords8 {
        0%   {left:80%; top:0px;}
        10%  {left:73%; top:90px;}
        20%  {left:90%; top:44px;}
        30%  {left:40%; top:14px;}
        40%  {left:24%; top:280px;}
        50%  {left:1%; top:2px;}
        60%  {left:30%; top:97px;}
        70%  {left:71%; top:290px;}
        80%  {left:80%; top:40px;}
        90%  {left:95%; top:10px;}
        100% {left:67%; top:370px;}
    }

    /*courage, envision, excellence, focus, announce, action, accomplish, clarity*/

    .gladImg2 {
        margin-top: 25px;
        width: 450px;
    }

    
    .box2 {
        width: 700px;
        text-align: center;
        font-size: 18px;
        padding-top: 0.2%;
    }

    .box2 p {
        padding: 0; 
        margin: 0;
    }

    .box3 {
        width: 600px;
        height: 275x;
    }

    .box3 h4 {
        padding-top: 20px;
        font-size: 18px;
        margin: 0;
    }

    .box3 ul{
        margin: 0;
        font-size: 14px;
    }
    
    .box4 {
        width: 650px;
        height: 120px;
    }
    
    .box4 h4 {
        font-size: 16px;
        margin: 0;
        padding-top: 30px;
    }

    .box4 ul {
        margin: 0;
        font-size: 14px;
    }

    .box5 {
        font-size: 18px;
        width: 600px;
    }
    
    .gImg3 {
        width: 500px;
    }

    .box6 {
        font-size: 18px;
        text-align: center;
        width: 700px;
        height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        padding-bottom: 0;
    }
    
    .box6 h4, .box6 p {
        margin: 0;
        padding: 0;
    }

    .box7 {
        font-size: 18px;
        padding-left: 2%;
        width: 500px;
    }

    .box7 h4, .box7 ul {
        padding: 0;
        margin: 0;
    }
    
    .box8 {
        padding-left: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 16px;
    }

    .box8 h4 {
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    
    .box8 p {
        padding: 0;
        margin: 0;
    }

    .box8 ul {
        height: 90px;
        margin: 0;
    }

    .box8 ul:nth-last-child() {
        margin-top: 50px;
    }

    .box9 {
        padding-top: 40px;
        width: 800px;
        font-size: 16px;
    }
    
    .box10 {
        text-align: center;
        font-size: 16px;
    }

    .box10 ul li {
        padding-bottom: 12px;
    }

    .box10 h4 {
        font-size: 18px;
    }
    
    .box11 {
        font-size: 16px;
        text-align: center;
        width: 700px;
        padding: 0;
        margin: 0;
    }

    .box11 p {
        padding: 0;
        margin: 0;
    }

    .box11 p:nth-child(2){
        padding-top: 10px;
    }

    .logInSubscribe {
        padding-top: 10px;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logSub {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 175px;
        font-size: 18px;
    }

    .b4 {
        background-color: #ED9121;
        color: white;
        border: none;
        font-weight: 900;
        font-size: 1.1em;
        text-align: center;
        padding: 10px 5px;
        height: 3.5em;
        width: 12em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 30px;
    }
    
    .b4:hover {
        border-color: white;
    }
/*
    .b3 {
        background-color: #3299CC;
        color: white;
        font-weight: 800;
        border: none;
        font-size: 1.1em;
        padding: 10px 15px;
        height: 3em;
        width: 10em;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 30px;
    }
*/
    .roleButton {
        background-color: orange;
        color: white;
        font-size: 1.25em;
        height: 2em;
        border: none;
        border-radius: 50px;
    }

    .outerButtonContainer {
        display: flex;
        flex-direction: column;
    }

    .pickRole {
        display: flex;
        justify-content: center;
    }

    .pickRole h2 {
        color: orangered;
        font-size: x-large;
    }
    
    .innerCont {
        display: flex;
        justify-content: center;
    }

    .buttonContainer2 {
        height: 250px;
        display: flex;
        flex-direction: row;
    }

    .leftButtons {
        padding-top: 25px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 

    .midButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .rightButtons {
        padding-top: 25px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pageContainer {
        padding-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .times h3 {
        color: orangered;
    }

    .importantQuote {
        display: flex;
        justify-content: center;
    }

    .sessionInfo {
        display: flex;
        flex-direction: column;
    }

    .sessionInfo h3 {
        color: orangered;
        width: 200px;
    }

    .sessionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sessionInfoButtons {
        padding-top: 0.5%;
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
    }

    .sessionInfoButtons button {
        background-color: rgb(226, 119, 48);
        color: white;
        font-size: 1.25em;
        height: 2em;
        border: none;
        border-radius: 50px;
    }

    .asAHost {
        display: flex;
        justify-content: center;
    }

    .topContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .topContainer h2 {
        color: orangered;
        padding-left: 45%;
    }

    .topContainer div {
        padding-top: 1%;
        padding-left: 25%;
    }


    /*------------------------SESSION PAGE STYLING-------------------------------*/


    .flexContainer {
        display: flex;
        flex-direction: row;
    }
    
    .rightBox {
        padding-top: 20px;
        padding-left: 100px;
    }

    .leftBox {
        padding-top: 20px;
    }

    .leftBox img {
        width: 500px;
    }

    .flex1 {
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .flex1:last-child {
        width: 100px;
    }

    .flex1 .buttonGladius:first-child {
        padding-left: 50px;
    }

    .flex1 h3 {
        color: #ff7300;
        font-size: 24px;
    }
    
    
    .flex2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

    .flex2 p:last-child {
        padding-top: 10px;
    }

    .flex2 div p, .flex2 p {
        color: #ff7300 ;
    }

    .flex2 div p:first-child {
        margin-bottom: 0;
    }

    .flex2 div p:nth-child(2) {
        margin-top: 0;
    }
    

    .sessionForm {
        display: flex;
        flex-direction: row;
    }


    .inputSessionField{
        font-weight: 700;
        font-size: 16px;
        width: 100%;
        padding: 10px 0;
        margin: 5px 20px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }

    .buttonGladius {
        width: 190px;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        border-color: #2196F3;
        color: dodgerblue;
        border-radius: 25px;
    }


    .buttonGladius:hover {
        background: #2196F3;
        color: white;
    }

    .buttonGladius2 {
        width: 280px;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        border-color: #2196F3;
        color: dodgerblue;
        border-radius: 25px;
    }

    .buttonGladius2:hover {
        background: #2196F3;
        color: white;
    }

    .createS {
        background-color: #ffb300;
        color: white;
        border: none;
        font-size: 1em;
        padding: 10px 15px;
        height: 3em;
        width: 300px;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 30px;
    }
  
    .createS:hover {
        border-color: white;
    }
    




    /*---------------------------MAXIMUS SESSION PAGE STYLING-----------------------------*/

    .maxBodyContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .insideMaxC {
        padding-top: 3%;
        padding-left: 11%;
        width: 500px;
    }

    .partCont {
        display: flex;
        justify-content: center;
    }

    .partCont p{
        color: #cc4625;
    }

    .spotCont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .spotCont h4 {
        color: #cc4625;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    
    .spotCont h4:first-child {
        margin-bottom: 0;
    }

    .spotCont h4:last-child {
        margin-top: 0;
    }

    .img7 {
        padding-top: 3%;
        padding-left: 3%;
        width: 430px;
    }

    .aBCont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .rolesA {
        background-color: #ff5100d0;
        color: white;
        border: none;
        font-size: 1em;
        text-align: center;
        padding: 5px 5px;
        height: 3.3em;
        width: 12em;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 30px;
    }
    .rolesA:hover {
        border-color: whitesmoke;
    }

    .rolesB {
        background-color: #ffb300;
        color: white;
        border: none;
        font-size: 1em;
        text-align: center;
        padding: 5px 5px;
        height: 3.3em;
        width: 12em;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 30px;
    }
    .rolesB:hover {
        border-color: whitesmoke;
    }
    
    .mostImportantSkill {
        padding-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: 600;
    }

    .button_list {
        padding-top: 3px;
        padding-left: 30%;
    }

    .b22 {
        background-color:#8acc25;
        color: white;
        border: none;
        font-size: 1em;
        padding: 10px 15px;
        height: 3em;
        width: 10em;
        border: 1px solid black;
    }

    .b22:hover {
        border-color: whitesmoke;
    }


    /*------------------------SPOT A SESSION STYLING----------------------------------*/

    .pickRole2 {
        display: flex;
        justify-content: center;
    }

    .pickRole2 h2 {
        color: #cc4625;
    }
    
    .pageSessContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .leftContainer {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .leftContainer h3 {
        color: #cc4625;
    }

    .leftContainer h3:nth-child(2) {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .leftContainer h3:nth-child(3) {
        padding-top: 0;
        margin-top: 0
    }

    .listContainer ol li{
        font-size: 18px;
        color: #cc4625;
        padding: 5px;
        font-weight: 600;
    }

    .gridButton{
        background-color:rgb(255, 100, 0);
        color: white;
        border: none;
        font-size: 1em;
        padding: 10px 15px;
        height: 70px;
        width: 11em;
        border-radius: 30px;
    }

    .gridContainer {
        display: grid;
        /*grid-template-columns: auto auto auto auto auto;*/
        grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
        grid-template-rows: 50px 50px 50px 50px 50px;
        grid-column-gap: 10px;
        grid-row-gap: 60px;
    }
    

    .item2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item2 img {
        width: 160px;
    }

    .item6 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .item5 img {
        width: 160px;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .item7 img {
        width: 160px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .item9 img {
        width: 160px;
    }

    .item11 {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .item11 img {
        width: 160px;
    }

    .item13 {
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .item14 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .item14 img {
        width: 160px;
    }
    
    .item15 {
        grid-column-start: 3;
        grid-row-start: 5;
        grid-column-end: 5;
        grid-row-end: 6;
    }

    
    .gridButtonLong {
        background-color:rgb(255, 100, 0);
        color: white;
        border: none;
        font-size: 1em;
        padding: 25px 15px;
        height: 70px;
        width: 18em;
        border-radius: 30px;
    }
    
    .item16 {
        grid-column-start: 5;
        grid-row-start: 5;
        grid-column-end: 6;
        grid-row-end: 6;
    }

    .mostImportantSkill2 {
        padding-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    
    /*------------------------SPOT B additional SESSION STYLING----------------------------------*/
    
    .gridButton2{
        background-color: #ffb300;
        color: white;
        border: none;
        font-size: 1em;
        padding: 10px 15px;
        height: 70px;
        width: 11em;
        border-radius: 30px;
    }

    .gridButtonLong2 {
        background-color: #ffb300;
        color: white;
        border: none;
        font-size: 1em;
        padding: 10px 15px;
        height: 70px;
        width: 18em;
        border-radius: 30px;
    }
/*

    .gridButton {
        position: relative;
        display: inline-block;
    }

    .gridButton .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip 
        position: absolute;
        z-index: 1;
    }


    .gridButton:hover .tooltiptext {
        visibility: visible;
    }

*/
    /*
    .test {
        width: 100px;
        height: 100px;
        position: sticky;
        animation: example 4s /*infinite;
    }
    

    @keyframes example {
        0%   {left:0px; top:0px;}
        25%  {left:200px; top:0px;}
        50%  {left:200px; top:200px;}
        75%  {eft:0px; top:200px;}
        100% { left:0px; top:0px;}
    }


    .wordsContainer {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 99;
    } */                                                            


    /*-----------LOGIN / SUBSCRIBE-----------*/

    .leftImage img, .rightImage img{
        padding: 200px;
        width: 500px;
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(to right, rgb(96, 110, 240), rgb(150, 184, 219));
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .formBox {
        width: 400px;
        height: 540px;
        position: fixed;
        background-color: white;
        padding: 5px;
        border-radius: 30px;
        overflow: hidden;
    }

    .buttonBox {
        width: 220px;
        margin: 35px auto;
        position: relative;
        border-radius: 30px;
    } 

    .togButton {
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
        font-weight: 800;
    }

    #btn {
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: linear-gradient(to right, rgb(96, 110, 240), rgb(150, 184, 219));
        border-radius: 30px;
        transition: .5s;
    }

    .inputGroup {
        top: 180px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }



    .inputGroup:last-child {
        top: 75px;
    }
  
    .inputField{
        font-weight: 700;
        font-size: 16px;
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }

    .submitBtn {
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right, rgb(96, 110, 240), rgb(150, 184, 219));
        border-radius: 30px;
        border: white;
    }

    .submitBtn:hover {
        transform: scale(1.05);
    }

    .check {
        margin: 20px 10px 20px 0;

    }

    span {
        color: #777;
        font-size: 14px;
        font-weight: 600;
        bottom: 53px;
        position: absolute;
    }

    .submitBtn {
        margin-top: 10px;
    }

    #login {
        left: 50px;
    }

    #register {
        left: 450px
    }

    #id {
        height: 30px;
        margin-bottom: 10px;
    }
}                       
